@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}
.background {
    background-image: url(../vendor/images/SS.jpg);
    height: 550px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: rgb(49, 129, 129);
    border-width: 5px;
}
.lead{
    font-weight: 500;
    color: rgb(0, 0, 0);

}
body video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

  }
.back{
    background-color: rgb(241, 238, 238);
    opacity: 0.85;
}
.display-4{
    font-size: 44px;
    text-decoration:underline;
}
.left{
    position: absolute;
    bottom: 465px;
    left: 520px;
    font-weight: 800;
    color: rgb(4, 94, 52);
    font-size: xx-large;
}
.right{
    position: absolute;
    bottom: 465px;
    right: 280px;
    font-weight: 800;
    color: rgb(4, 94, 52);
    font-size: xx-large;

}