@media (min-width: 1200px) {
    .container{
        max-width: 1400px;
    }
}

body video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.background {
    background-image: url(../vendor/images/deeplearning.png);
    height: 550px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: rgb(49, 129, 129);
    border-width: 5px;
}
.back{
        background-color: rgb(255, 255, 255);
        opacity: 0.85;
}
#height{
    font-size: xx-large;
    font-weight: 500;
}
.lead{
    font-weight: 500;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Slabo 20px', serif;;

}
#bg{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,222,247,1) 66%);
}
strong{
    color: rgb(230, 26, 152);
}